__pycache__
venv
.DS_Store
db.*
migrations
.env
count_loc.py
*.png
.idea
dummy.json
.scannerwork
code_analysis_output.txt
code_analysis_output_after_refactoring.txt
liquibase.properties
workflow.txt
requirements_old.txt
db_data_old.json
static